@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html,
  body {
    @apply h-full;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
      Helvetica Neue, sans-serif;
  }

  #__next {
    @apply h-full mx-auto;
    background-image: url("/wallpaper.png");
    width: 360px;
  }
}
