@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html,
  body {
    @apply h-full;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
      Helvetica Neue, sans-serif;
  }

  #__next {
    @apply h-full mx-auto;
    background-image: url("/wallpaper.png");
    width: 360px;
  }

  label {
    color: #57627b;
    @apply text-xs uppercase;
  }

  input {
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    @apply border border-solid border-[#c5cee0] text-sm h-10 rounded-lg;
  }

  button[type="button"],
  button[type="submit"],
  input[type="submit"] {
    background-image: linear-gradient(256.28deg, #1c94f4 0%, #1273ea 100%);
    @apply text-sm text-white rounded-lg px-5 py-2.5;
  }
}
